.breadcrumb {
  display: flex;
  flex-wrap: wrap;

  &-link {
    white-space: nowrap;
    font-weight: 300;
    font-size: 14px;
    line-height: 183.5%;
    letter-spacing: 0.01em;
    color: #7A7F88;
    opacity: 0.8;

    &:last-child {
      color: #1D3945;
    }
  }
}
