.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 16px;
  cursor: pointer;
  padding: 15px 25px;
  border: 1px solid var(--border, rgba(133, 133, 133, 0.3));
  font-size: 11px;
  line-height: 1.15;
  color: #424D50;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  outline: none;
  background: none;
  transition: .3s background, .3s color, .3s border;
  text-align: center;

  span {
    opacity: .9;
  }
  svg {
    transition: .3s;
  }

  @media(hover) {
    &:hover {
      background: #00C9A5;
      color: #fff;
      border-color: #00C9A5;
    }
  }

  &-green {
    border-color: #00C9A5;
    background: #00C9A5;
    color: #fff;

    @media(hover) {
      &:hover {
        background: #FF7223;
        color: #fff;
        border-color: #FF7223;
      }
    }
  }

  &-stroke {
    border-color: #00C9A5;
    color: var(--color, #424D50);

    svg {
      transition: .3s;
      fill: var(--fill, #424D50);
    }

    @media(hover) {
      &:hover {
        background: #FF7223;
        color: #fff;
        border-color: #FF7223;
        svg {
          fill: #fff;
        }
      }
    }
  }

  &-stroke-white {
    border-color: #fff;
    color: #FFFFFF;

    @media(hover) {
      &:hover {
        background: #FF7223;
        color: #fff;
        border-color: #FF7223;
      }
    }
  }

  &-orange {
    border-color: #FF7223;
    background: #FF7223;
    color: #fff;

    @media(hover) {
      &:hover {
        background: #FF5C00;
        color: #fff;
        border-color: #FF5C00;
      }
    }
  }

  &-white {
    background: #FFFFFF;
    color: #424D50;
  }
}
