mixin advantagesItem(props)
    .advantages-item.f.f-ac.swiper-slide
        .advantages-item-icon
            +svg(advantagesSprite + '.svg#' + props.icon)
        .advantages-item-info
            .advantages-item-title!= props.title
            p.advantages-item-text!= props.text

.advantages
    .container
        .advantages-slider.swiper
            .swiper-wrapper.f-js
                for item in advantagesList
                  +advantagesItem(item)
