section.connection
    .connection-img
        picture
            source(srcset='img/connection.png' media='(min-width: 960px)')
            source(srcset='img/connection-720.png' media='(min-width: 720px)')
            img(src='img/connection-360.png' alt='')
    .container
        form.page-form(action='#')
            .page-form-send
                h2.connection-title Дайте нам один день
                    br
                    |
                    | и получите супер-быстрый интернет
                .connection-text Свяжемся с вами в течение 20 минут или подарим 500 бонусов на счет!
                .connection-inputs.f.f-w
                    .input-parent.input-item
                        input(type='text' name='name' placeholder='Имя')
                    .input-parent.input-item
                        input(type='tel' name='phone' placeholder='+7 _ _ _  _ _ _  _ _ _ _ ' data-required='validatePhone')
                        .input-item-error Некорректно введён номер
                    .input-parent.input-item._address
                        input(type='text' name='address' placeholder='Адрес подключения')
                    button.btn.btn-orange(type='submit')
                        span Оставить заявку

                .connection-politic.f
                    label.input-check.input-check-required
                        input(type='checkbox' name='politic' checked)
                        span.f
                            .input-check-box.circle
                            .input-check-text Я согласен с политикой конфиденциальности
            .page-form-ok.f.f-dc.f-jc
                h2.connection-title Отправлено
                .connection-text Отправлено
