.coverage.f.f-w
    .coverage-input
        input(type='text' name='coverage' placeholder='Проверьте возможность подключения')
        .btn.btn-orange
            span Проверить
    a.coverage-link(href='#map')
        span Зона покрытия
        img.coverage-link-img.one(src='img/coverage.png')
        img.coverage-link-img.two(src='img/coverage.png')
