mixin destinationItem(props)
    .destination-item.swiper-slide
        .destination-item-img
            img(src='img/destination/' + props.img + '.png' alt='')
        .destination-item-title!= props.title
        p.destination-item-text!= props.text

.destination
    .container
        if destination.header
            .destination-header
                h2.destination-title!= destination.header.title
        .destination-slider.swiper
            .swiper-wrapper
                for item in destination.list
                  +destinationItem(item)
