section.examination
    .examination-bg
        img(src='img/examination.png')
    .container
        .examination-header
            h2.examination-title Проверьте возможность подключения
                br
                | своего адреса к бесперебойной сети Байкал Телепорт
            p Укажите свой населенный пункт
        include coverage
