section.exist
    .container.f.f-w
        .exist-left
            img(src='img/exist.png')
        .exist-right
            h2.exist-title Уже 22 года помогаем людям быть ближе
            p Выбирая Байкал Телепорт, Вы выбираете быстрое и качественное проведение работ, внимательное отношение сотрудников и круглосуточную техническую поддержку
            .btn
                span Подключить интернет
