mixin offersItem(props)
    .offers-item.swiper-slide(class='offers-item_' + props.img)
        .offers-item-img(class='offers-item-img_' + props.img)
            picture
                source(srcset='img/offers/' + props.img + '.png' media='(min-width: 1820px)')
                source(srcset='img/offers/' + props.img + '-1280.png' media='(min-width: 1280px)')
                source(srcset='img/offers/' + props.img + '-960.png' media='(min-width: 960px)')
                source(srcset='img/offers/' + props.img + '-720.png' media='(min-width: 720px)')
                img(src='img/offers/' + props.img + '-360.png')
        .container
            form.page-form(action='#')
                .page-form-send
                    h2.offers-item-title!= props.title
                    .offers-item-text!= props.text
                    .offers-item-inputs.input-parent
                        .offers-item-input
                            input(type='hidden' name='form-name' value='1')
                            input(type='tel' name='phone' placeholder='+7 _ _ _   _ _ _   _ _ _ _ ' data-required='validatePhone')
                            button.btn.btn-orange
                                span Оставить заявку
                        .input-item-error Некорректно введён номер телефона
                    .offers-item-politic
                        label.input-check.input-check-required
                            input(type='checkbox' name='politic' checked)
                            span.f
                                .input-check-box.circle
                                .input-check-text Я согласен с политикой конфиденциальности
                .page-form-ok

section.offers
    for item, index in offersList
        .offers-bg(class=[{'active': index === 0}, 'offers-bg-' + item.img])

    .offers-slider.swiper
        .swiper-wrapper
            for item in offersList
                +offersItem(item)

        .offers-pagination.swiper-pagination
