mixin questionsItem(props)
    .questions-item
        .questions-item-header
            +svg('sprite.svg#nav')
            span!= props
        .questions-item-body
            .questions-item-wrap
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex


section.questions
    .container
        .questions-header
            h2.questions-title!= questionsHeader.title
            if questionsHeader.text
                p!= questionsHeader.text
        .questions-wrapper.f.f-w
            for item in questionsList
              +questionsItem(item)
