mixin serviceItem(props)
    .service-item.swiper-slide
        img.service-item-img(src='img/services/' + props.img + '.png')
        .service-item-title!= props.title
        .service-item-text!= props.text
        .service-item-btn.f
            a.btn.btn-white(href='#')
                span!= props.btn



section.services
    .container
        h2.services-title Популярные услуги для тех,
            br
            |
            | кто привык быть всегда на связи
        .services-slider.swiper
            .swiper-wrapper
                for item in servicesList
                    +serviceItem(item)
