section.tariffs.tabs-block
    .tariffs-sticker(style='background-image: url(img/tariffs/sticker.svg)')
        .tariffs-sticker-wrap
            .tariffs-sticker-text при переходе от другого провайдера
            .tariffs-sticker-value 50%
            .tariffs-sticker-small Скидка
    .tariffs-words
        picture
            source(srcset='img/tariffs/words.svg' media='(min-width: 720px)')
            img(src='img/tariffs/words-360.svg' alt='')
    img.tariffs-word(src='img/tariffs/word.svg' alt='')

    .container
        h2.tariffs-title Выгодные
            br
            |
            | тарифные планы в
            .tariffs-title-wrap
                .tariffs-title-btn Иркутске
                    +svg('sprite.svg#nav')
                .tariffs-city
                    .tariffs-city-input
                        input(type='text' name='city' placeholder="Найти")
                        .btn.btn-orange
                            span найти
                    .tariffs-city-list.f.f-w
                        a.tariffs-city-link(href='#') Шелехов
                        a.tariffs-city-link(href='#') Мегет
                        a.tariffs-city-link(href='#') Ангарск
                        a.tariffs-city-link(href='#') Максимовщина
                        a.tariffs-city-link(href='#') Хомутово
                        a.tariffs-city-link(href='#') Патроны

        .tariffs-buttons.swiper
            .swiper-wrapper
                .swiper-slide.tariffs-btn.tabs-btn.active Интернет + ТВ
                .swiper-slide.tariffs-btn.tabs-btn Домашний интернет
                .swiper-slide.tariffs-btn.tabs-btn Видеонаблюдение
        .tariffs-slider.tabs-item.swiper.active
            .swiper-wrapper
              for item in tariffsList
                  +tariffsItem(item)
        .tariffs-slider.tabs-item.swiper
            .swiper-wrapper
              for item in tariffsList.slice(1)
                  +tariffsItem(item)
        .tariffs-slider.tabs-item.swiper
            .swiper-wrapper
              for item in tariffsList.slice(2)
                  +tariffsItem(item)
