header.header.lock-padding
    .header-container
        .container.f.f-ac.f-js
            .header-logo
                a.logo.f.f-ac(href='/')
                    svg(viewBox='0 0 53 53')
                        path(d='M26.4069 26.2888C26.7469 30.9588 31.5669 35.5188 38.2369 37.0888C42.9069 38.1888 47.3969 37.5588 50.4969 35.7088C50.2469 38.1188 49.2469 40.2388 47.4669 41.6788C42.9869 45.3188 35.3369 43.3188 30.3769 37.2088C27.5869 33.7788 26.2369 29.7688 26.3969 26.2788C24.6769 30.6288 27.0269 36.8388 32.3769 41.1488C36.1069 44.1588 40.4269 45.5488 44.0169 45.2288C42.7469 47.2888 40.9269 48.7588 38.6969 49.2988C33.0869 50.6288 27.0569 45.5088 25.2369 37.8588C24.2169 33.5488 24.7369 29.3588 26.3969 26.2788C22.9569 29.4488 22.3869 36.0688 25.3369 42.2688C27.3869 46.5988 30.6869 49.7188 34.0669 50.9988C32.0169 52.2988 29.7469 52.8388 27.5069 52.3488C21.8669 51.1188 18.6669 43.8888 20.3369 36.2088C21.2769 31.8788 23.5669 28.3288 26.3969 26.2788C21.9169 27.6488 18.5369 33.3588 18.5069 40.2288C18.4869 45.0188 20.0969 49.2688 22.5969 51.8688C20.1869 52.1588 17.8969 51.6588 16.0969 50.2488C11.5569 46.6888 11.7969 38.7888 16.6369 32.5888C19.3669 29.1088 22.9669 26.8988 26.4069 26.2688C21.7769 25.5588 16.2469 29.2488 13.2469 35.4188C11.1369 39.7288 10.7569 44.2488 11.8669 47.6788C9.57688 46.8988 7.72688 45.4488 6.70688 43.3888C4.14688 38.2188 7.80688 31.1988 14.8469 27.7188C18.8169 25.7588 23.0169 25.3288 26.3969 26.2588C22.5269 23.6188 15.9569 24.5388 10.5669 28.7888C6.80688 31.7588 4.49688 35.6688 4.01688 39.2488C2.28688 37.5488 1.25688 35.4388 1.22688 33.1488C1.16688 27.3788 7.49688 22.6388 15.3669 22.5588C19.7969 22.5188 23.7669 23.9488 26.3969 26.2488C24.0669 22.1888 17.7469 20.1688 11.0469 21.6688C6.36688 22.7188 2.59688 25.2288 0.606884 28.2488C-0.213116 25.9688 -0.233116 23.6288 0.736884 21.5488C3.17688 16.3288 10.9469 14.7988 18.0669 18.1388C22.0769 20.0188 25.0369 23.0388 26.4069 26.2488C26.0569 21.5788 21.2469 17.0188 14.5569 15.4588C9.90688 14.3788 5.41688 15.0088 2.32688 16.8388C2.56688 14.3988 3.57688 12.2588 5.37688 10.7988C9.85688 7.17879 17.5069 9.18879 22.4569 15.2988C25.2369 18.7488 26.5769 22.7488 26.4169 26.2388C28.1469 21.8888 25.8069 15.6788 20.4669 11.3588C16.7369 8.33879 12.4269 6.95879 8.82688 7.26879C10.1069 5.20879 11.9369 3.73879 14.1669 3.20879C19.7769 1.87879 25.7969 7.01879 27.6069 14.6688C28.6269 18.9788 28.0969 23.1688 26.4269 26.2488C29.8769 23.0788 30.4569 16.4688 27.5269 10.2588C25.4769 5.91879 22.1869 2.79879 18.8069 1.51879C20.8369 0.228794 23.1169 -0.311206 25.3569 0.178794C30.9869 1.41879 34.1869 8.64879 32.4969 16.3388C31.5469 20.6588 29.2569 24.2088 26.4169 26.2588C30.8969 24.8988 34.2869 19.1888 34.3369 12.3288C34.3769 7.53879 32.7669 3.28879 30.2769 0.668794C32.6869 0.388794 34.9669 0.898794 36.7769 2.30879C41.3169 5.86879 41.0669 13.7688 36.2069 19.9588C33.4769 23.4388 29.8769 25.6388 26.4369 26.2588C31.0569 26.9688 36.5969 23.2988 39.6069 17.1388C41.7169 12.8388 42.1069 8.31879 40.9969 4.87879C43.2969 5.66879 45.1369 7.11879 46.1469 9.16879C48.6969 14.3488 45.0369 21.3588 37.9769 24.8288C34.0069 26.7888 29.8069 27.1988 26.4369 26.2688C30.2969 28.9188 36.8669 28.0088 42.2669 23.7688C46.0369 20.7988 48.3469 16.8988 48.8469 13.3188C50.5669 15.0288 51.5969 17.1288 51.6269 19.4288C51.6669 25.1988 45.3369 29.9188 37.4769 29.9988C33.0469 30.0388 29.0769 28.5888 26.4469 26.2888C28.7769 30.3588 35.0969 32.3788 41.7969 30.8988C46.4769 29.8588 50.2469 27.3388 52.2469 24.3388C53.0669 26.6188 53.0769 28.9588 52.0969 31.0288C49.6469 36.2488 41.8869 37.7688 34.7569 34.4188C30.7469 32.5288 27.8069 29.5088 26.4269 26.2988L26.4069 26.2888Z' fill='url(#paint0_radial_6567_63)')
                        defs
                            radialgradient#paint0_radial_6567_63(cx='0' cy='0' r='1' gradientUnits='userSpaceOnUse' gradientTransform='translate(26.4069 26.2688) scale(26.34 26.34)')
                                stop(stop-color='#00ADB4')
                                stop(offset='1' stop-color='#00ADB4' stop-opacity='0')
                    span.logo-text.f.f-dc
                        small Байкал
                        span Телепорт
            .header-center.f.f-ac.f-js
                .header-nav.f
                    nav.f
                        .header-nav-link
                            a Для бизнеса
                                +svg('sprite.svg#nav')
                            .dialog
                                a.dialog-link(href='#') Высокоскоростной интернет
                                a.dialog-link(href='#') Интерактивное ТВ
                                a.dialog-link(href='#') Видеонаблюдение

                        .header-nav-link
                            a Для дома
                                +svg('sprite.svg#nav')
                            .dialog
                                a.dialog-link(href='#') Высокоскоростной интернет
                                a.dialog-link(href='#') Интерактивное ТВ
                                a.dialog-link(href='#') Видеонаблюдение

                        .header-nav-link
                            a(href='#') Помощь
                        .header-nav-link
                            a(href='#') О нас
                        .header-nav-link
                            a(href='#') Войти
                    .header-nav-link Ещё +
                        .dialog
                            a.dialog-link(href='#') Новости и акции
                            a.dialog-link(href='#') Контакты
                            a.dialog-link(href='#') Политика конфиденциальности
                            a.dialog-link(href='#') Оферта

                .header-social
                    .social
                        a.social-link(href='#' target='_blank')
                            +svg('sprite.svg#vk')
                        a.social-link(href='#' target='_blank')
                            +svg('sprite.svg#od')
                        a.social-link(href='#' target='_blank')
                            +svg('sprite.svg#wa')
                        a.social-link(href='#' target='_blank')
                            +svg('sprite.svg#tg')

                .header-phone
                    a(href='tel:+7 3952 56 0000')
                        .social-link
                            +svg('sprite.svg#phone')
                        span +7 3952 56 0000
                .header-city.js-city(data-modal='popup-city')
                    .social-link
                        +svg('sprite.svg#pin')
                    .header-nav-link.js-city-open
                        a Иркутск
                            +svg('sprite.svg#nav')

            .header-btn
                .btn(data-modal='popup-connection')
                    span.d Подключить интернет
                    span.m Подключиться
            .header-icon._left
                a(href='tel:+7 3952 56 0000')
                    .social-link
                        +svg('sprite.svg#phone')
            .header-icon._left
                a(href='#')
                    .social-link
                        +svg('sprite.svg#user')
            .header-icon.js-city(data-modal='popup-city')
                .social-link
                    +svg('sprite.svg#pin')
            .header-icon
                .social-link(data-modal='popup-menu')
                    +svg('sprite.svg#burger')

.modal-city
    .modal-city-name Ваш город
        |
        |
        span Иркутск
        | ?
    .modal-city-battons.f
        .btn.btn-stroke
            span  Да
        .btn.modal-city-change(data-modal='popup-city')
            span(data-after=', выбрать другой') Нет

include popup/menu
include popup/city
