.popup.popup-right#popup-city
    .popup-backdrop._white(style='background-image: url(img/popup.png)')
    .popup-content.js-backdrop.popup-right-item
        .popup-city
            .popup-city-header.f.f-ac.f-js
                .popup-back.js-close
                    +svg('sprite.svg#back')
                .popup-city-title Выберите местоположение
                .popup-close.js-close
                    +svg('sprite.svg#close')
            .popup-city-body
                .popup-city-input
                    input(type='text' name='city' placeholder='Введите местоположение')
                    button.btn.btn-green
                        span найти
                .popup-city-list.f.f-w
                    a.popup-city-link(href='#') Иркутск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Ангарск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Мегет
                    a.popup-city-link(href='#') Максимовщина
                    a.popup-city-link(href='#') Оёк
                    a.popup-city-link(href='#') Максимовщина
                    a.popup-city-link(href='#') Хомутово
                    a.popup-city-link(href='#') Патроны
                    a.popup-city-link(href='#') Коты
                    a.popup-city-link(href='#') Патроны
                    a.popup-city-link(href='#') Иркутск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Ангарск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Мегет
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Оёк
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Мегет
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Оёк
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Иркутск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Ангарск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Мегет
                    a.popup-city-link(href='#') Максимовщина
                    a.popup-city-link(href='#') Оёк
                    a.popup-city-link(href='#') Максимовщина
                    a.popup-city-link(href='#') Хомутово
                    a.popup-city-link(href='#') Патроны
                    a.popup-city-link(href='#') Коты
                    a.popup-city-link(href='#') Патроны
                    a.popup-city-link(href='#') Иркутск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Ангарск
                    a.popup-city-link(href='#') Шелехов
                    a.popup-city-link(href='#') Мегет
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Оёк
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Мегет
                    a.popup-city-link(href='#') Грановщина
                    a.popup-city-link(href='#') Оёк
                    a.popup-city-link(href='#') Грановщина
