mixin svg(icon)
    svg(class!=attributes.class, viewBox!=attributes.viewBox, width!=attributes.width, height!=attributes.height)
        use(xlink:href= icon)

mixin blockCorner(plus, reverse)
    .block-corner__wrap
        if plus
            .block-corner__plus.block-corner__plus_top
                +svg('sprite.svg#plus')
            .block-corner__plus.block-corner__plus_bottom
                +svg('sprite.svg#plus')
        .block-corner__corner.block-corner__corner_left
        .block-corner__corner.block-corner__corner_right
        .block-corner__bg
        .block-corner__border

mixin inputCheck(props)
    label.input-radio
        input(name= props.name value= props.text checked= props.checked type= props.type || 'checkbox' data-required= props.required)
        .input-radio__wrap.f
            .input-radio__box.f(class= props.icon || '')
                if !props.icon
                    +svg('sprite.svg#plus')
            .input-radio__text!= props.text

mixin teamItem(props)
    .team-item._anim-items._anim-top(class= props.className)
        img.team-item__img.lazy(src='img/team/' + props.img + '.png' alt='')

        if props.value
            .team-item__value= props.value
        if props.name
            .team-item__hover.block-corner(class={'block-corner__reverse': props.reverse})
                .team-item__name!= props.name
                .team-item__work!= props.work
                +blockCorner()
