extends ../layout/main

block variables
  -
      var title = "Контакты"
      var pageClass = "index-contacts"
      var requisitesList = [
          {
              title: 'Для физических лиц',
              text: '<span>Расчетный счет:</span> 40702810118350104763 <br> <span>БИК:</span> 042520607 <br> <span>Корреспондентский счет:</span> 30101810900000000607 <br> <span>Полное наименование учреждения банка:</span> Байкальский банк СБ РФ ОСБ № 8586/0136 г. Иркутск <br> <span>Юридический адрес:</span> 664011, г. Иркутск, ул. Некрасова, д.14, 3 этаж, а/я 123 <br> <span>Идентификационный номер (ИНН):</span> 3811060180 <br><span>КПП:</span> 380801001 <br> <span>ОГРН:</span> 1023801534261 <br> <span>Код организации по ОКПО:</span> 51512919'
          },
          {
              title: 'Для юридических лиц',
              text: '<span>Расчетный счет:</span> 40702810204000004520 <br> <span>БИК:</span> 045004816 <br> <span>Корреспондентский счет:</span> 30101810500000000816 <br> <span>Полное наименование учреждения банка:</span> СИБИРСКИЙ Ф-Л ПАО "ПРОМСВЯЗЬБАНК" Г. НОВОСИБИРСК <br> <span>Юридический адрес:</span> 664011, г. Иркутск, ул. Некрасова, д.14, 3 этаж, а/я 123 <br> <span>Идентификационный номер (ИНН):</span> 3811060180 <br><span>КПП:</span> 380801001 <br> <span>ОГРН:</span> 1023801534261 <br> <span>Код организации по ОКПО:</span> 51512919'
          },
      ]

block content
    include ../components/contacts/main
    include ../components/contacts/requisites
    include ../components/contacts/message
