extends ../layout/main

block variables
  -
      var title = "Главная"
      var pageClass = "index"
      var tariffsList = [
          {
              title: '«КОСМОС. <br> АКЦИЯ 50»',
              text: 'Минимум вложений за отличный интернет',
              speed: '50',
              price: '450',
              oldPrice: '650',
              btn: 'Подключить со скидкой',
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 100»',
              text: 'Минимум вложений за отличный интернет',
              speed: '100',
              price: '475',
              btn: 'Подключить',
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 300»',
              text: 'Оптимальный вариант для сёрфинга',
              speed: '300',
              price: '625',
              btn: 'Подключить',
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 500»',
              text: 'Максимальная скорость. Максимальный интернет',
              speed: '500',
              price: '725',
              btn: 'Подключить',
          }
      ]

block content
    include ../components/main/home
    include ../components/blocks/services
    include ../components/blocks/discounts
    include ../components/blocks/tariffs
    include ../components/blocks/stories
    include ../components/blocks/rating
    include ../components/blocks/exist
    .home-map
        .home-map-bg
            picture
                source(srcset='img/map.png' media='(min-width: 720px)')
                img(src='img/map-360.png')
        .home-map-content
            #map
    include ../components/blocks/news
    include ../components/blocks/subscription
