extends ../layout/main

block variables
  - var title = "Главная"
  -
      var pageClass = "index"

block content
    include ../components/main/home
    include ../components/blocks/services
    include ../components/blocks/discounts
    include ../components/blocks/tariffs
    include ../components/blocks/stories
