extends ../layout/main

block variables
  -
      var title = "Главная"
      var pageClass = "index"

block content
    include ../components/main/home
    include ../components/blocks/services
    include ../components/blocks/discounts
    include ../components/blocks/tariffs
    include ../components/blocks/stories
    include ../components/blocks/rating
    include ../components/blocks/exist
    .home-map
        .home-map-bg
            picture
                source(srcset='img/map.png' media='(min-width: 720px)')
                img(src='img/map-360.png')
        .home-map-content
            #map
    include ../components/blocks/news
    include ../components/blocks/subscription
