extends ../layout/main

block variables
  -
    var title = "Список страниц"
    var pageClass = "index"

block content
    style.
        main {
            margin-top: 100px;
        }

        main li {
            font-size: 26px;
            margin: 5px 0;
        }
    .container
        h2 страницы
        ol(style='list-style: auto')
            li
                a(href='home.html') Home
            li
                a(href='internet.html') Internet
            li
                a(href='speed.html') Speed
            li
                a(href='services.html') Services
            li
                a(href='contacts.html') Contacts

        br
        br

        ol(style='list-style: auto')
            li
                a(data-modal='popup-city') city
            li
                a(data-modal='popup-connection') connection
            li
                a(data-modal='popup-menu') menu
            li
                a(data-modal='popup-rating') rating

