extends ../layout/main

block variables
  - var title = "Список страниц"
  - var pageClass = "index"

block content
    style.
        main {
            margin-top: 100px;
        }

        main li {
            font-size: 26px;
            margin: 5px 0;
        }
    .container
        h2 страницы
        ol(style='list-style: auto')
            li
                a(href='home.html') home
