extends ../layout/main

block variables
  -
      var title = "интернет"
      var pageClass = "index-internet"
      var tariffsAdd = true
      var coverageSelect = true
      var questionsList = [
          'Какие услуги вы можете предложить дополнительно?',
          'Как подобрать роутер?',
          'Какие действуют тарифы на подключение интернета?',
          'Как узнать, есть ли к интернет БайкалТелепорт в моём поселении?',
          'Нужно ли оплачивать какие-то дополнительные услуги?',
          'Как рассчитывается стоимость подключения интернета в загородном доме?',
          'Дополнительные возможности при подключении интернета в Байкал Телепорт',
          'Как долго вы рассматриваете заявку на подключение?'
      ]
      var questionsHeader = {
          title: 'Остались вопросы?',
          text: 'Собрали для вас самые популярные и подробно ответили на них'
      }

block content
    include ../components/main/internet
    include ../components/blocks/offers
    include ../components/blocks/advantages
    include ../components/blocks/destination
    include ../components/blocks/examination
    include ../components/blocks/tariffs
    include ../components/blocks/giveday
    include ../components/blocks/stories
    include ../components/blocks/questions
    include ../components/blocks/news
    include ../components/blocks/subscription
