extends ../layout/main

block variables
  - var title = "интернет"
  -
      var pageClass = "index-internet"
      var tariffsAdd = true

block content
    include ../components/main/home

    include ../components/blocks/advantages
    include ../components/blocks/destination

    include ../components/blocks/tariffs
    include ../components/blocks/giveday
    include ../components/blocks/stories
    include ../components/blocks/questions
    include ../components/blocks/news
    include ../components/blocks/subscription
