extends ../layout/main

block variables
  -
      var title = "интернет"
      var pageClass = "index-internet"
      var tariffsAdd = true
      var coverageSelect = true
      var questions = {
          list: [
              'Какие услуги вы можете предложить дополнительно?',
              'Как подобрать роутер?',
              'Какие действуют тарифы на подключение интернета?',
              'Как узнать, есть ли к интернет БайкалТелепорт в моём поселении?',
              'Нужно ли оплачивать какие-то дополнительные услуги?',
              'Как рассчитывается стоимость подключения интернета в загородном доме?',
              'Дополнительные возможности при подключении интернета в Байкал Телепорт',
              'Как долго вы рассматриваете заявку на подключение?'
          ],
          title: 'Остались вопросы?',
          text: 'Собрали для вас самые популярные и подробно ответили на них'
      }
      var advantagesSprite = 'sprite-advantages'
      var advantagesList = [
          {icon: '1', title: 'До 1 Гбит/сек', text: 'подключим интернет <br> в частный дом <br> за 1 день'},
          {icon: '2', title: 'Выгодно', text: 'широкий выбор <br> тарифных планов <br> от 450 руб. в месяц'},
          {
              icon: '3',
              title: 'Очень быстро',
              text: 'скорость оптического <br> соединения до 1 Гбит/ <br>сек. в любом районе'
          },
          {icon: '4', title: 'Проверено', text: 'более 45 000 <br> довольных абонентов <br> уже подключены в нам'}
      ]
      var tariffsList = [
          {
              title: '«КОСМОС. <br> АКЦИЯ 50»',
              text: 'Минимум вложений за отличный интернет',
              speed: '50',
              price: '450',
              oldPrice: '650',
              btn: 'Подключить со скидкой',
              add: [
                  {name: 'TV', text: 'TV'},
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 100»',
              text: 'Минимум вложений за отличный интернет',
              speed: '100',
              price: '475',
              btn: 'Подключить',
              add: [
                  {name: 'TV', text: 'TV'},
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 300»',
              text: 'Оптимальный вариант для сёрфинга',
              speed: '300',
              price: '625',
              btn: 'Подключить',
              add: [
                  {name: 'TV', text: 'TV'},
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 500»',
              text: 'Максимальная скорость. Максимальный интернет',
              speed: '500',
              price: '725',
              btn: 'Подключить',
              add: [
                  {name: 'TV', text: 'TV'},
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          }
      ]
      var offersList = [
          {
              img: '1',
              title: 'Новым абонентам 500 баллов <br> и скидку 50% при подключении',
              text: 'Выгода более 4 000 рублей!',
              form: 'offers-1'
          },
          {
              img: '2',
              title: 'Переезжаете в другой район? <br> Забери интернет с собой!',
              text: 'Подключим бесплатно Ваш новый адрес',
              form: 'offers-2'
          },
          {
              img: '3',
              title: '50% скидка на подключение, <br> при переходе от другого провайдера',
              text: 'Перезвоним в течение 2 минут или подарим 500 бонусов на счёт',
              form: 'offers-3'
          }
      ]

block content
    include ../components/main/internet
    include ../components/blocks/offers
    include ../components/blocks/advantages
    include ../components/blocks/destination
    include ../components/blocks/examination
    include ../components/blocks/tariffs
    include ../components/blocks/giveday
    include ../components/blocks/stories
    include ../components/blocks/questions
    include ../components/blocks/news
    include ../components/blocks/subscription
