extends ../layout/main

block variables
  - var title = "интернет"
  -
      var pageClass = "index-internet"
      var tariffsAdd = true
      var coverageSelect = true

block content
    include ../components/main/internet
    include ../components/blocks/offers
    include ../components/blocks/advantages
    include ../components/blocks/destination
    include ../components/blocks/examination
    include ../components/blocks/tariffs
    include ../components/blocks/giveday
    include ../components/blocks/stories
    include ../components/blocks/questions
    include ../components/blocks/news
    include ../components/blocks/subscription
