extends ../layout/main

block variables
  -
      var title = "Услуги"
      var pageClass = "index-services"
      var coverageSelect = true
      var questionsList = [
          'Какие услуги вы можете предложить дополнительно?',
          'Как подобрать роутер?',
          'Какие действуют тарифы на подключение интернета?',
          'Как узнать, есть ли к интернет БайкалТелепорт в моём поселении?',
          'Нужно ли оплачивать какие-то дополнительные услуги?',
          'Как рассчитывается стоимость подключения интернета в загородном доме?',
          'Дополнительные возможности при подключении интернета в Байкал Телепорт',
          'Как долго вы рассматриваете заявку на подключение?'
      ]
      var questionsHeader = {
          title: 'Остались вопросы?',
          text: 'Собрали для вас самые популярные и подробно ответили на них'
      }
      var advantagesSprite = 'sprite-advantages'
      var advantagesList = [
          {icon: '3', title: 'Интернет <br> со скоростью света', text: 'до 1 Гб/сек. по <br> оптическому кабелю'},
          {icon: '5', title: 'Более 300 TV <br> каналов ', text: 'и ещё 4 онлайн-<br>кинотеатра в пакете'},
          {icon: '6', title: 'Видеонаблюдение <br> даже в поле 24/7', text: 'следите за стройкой, <br> домом и производством'},
          {icon: '2', title: 'Очевидная <br> экономия на всём', text: 'при подключении <br> полного пакета услуг'}
      ]
      var tariffsList = [
          {
              title: '«КОСМОС. <br> АКЦИЯ 50»',
              text: 'Минимум вложений за отличный интернет',
              speed: '50',
              tv: '150',
              price: '750',
              oldPrice: '1050',
              btn: 'ПодключитЬ',
              add: [
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 100»',
              text: 'Минимум вложений за отличный интернет',
              speed: '100',
              tv: '150',
              price: '850',
              btn: 'Подключить',
              add: [
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 300»',
              text: 'Оптимальный вариант для сёрфинга',
              speed: '300',
              tv: '300',
              price: '1250',
              btn: 'Подключить',
              add: [
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          },
          {
              title: '«КОСМОС. <br> АКЦИЯ 500»',
              text: 'Максимальная скорость. Максимальный интернет',
              speed: '500',
              tv: '150',
              price: '1450',
              btn: 'Подключить',
              add: [
                  {name: 'CCTV', text: 'Видеонаблюдение'}
              ]
          }
      ]
      var offersList = [
          {
              img: '2',
              title: 'Переезжаете в другой район? <br> Забери интернет с собой!',
              text: 'Подключим бесплатно Ваш новый адрес',
              form: 'offers-2'
          },
          {
              img: '1',
              title: 'Новым абонентам 500 баллов <br> и скидку 50% при подключении',
              text: 'Выгода более 4 000 рублей!',
              form: 'offers-1'
          },
          {
              img: '3',
              title: '50% скидка на подключение, <br> при переходе от другого провайдера',
              text: 'Перезвоним в течение 2 минут или подарим 500 бонусов на счёт',
              form: 'offers-3'
          }
      ]

block content
    .index-services-bg(style='background-image: url(img/index-services-bg.svg)')
    include ../components/main/services
    include ../components/blocks/advantages
    include ../components/blocks/offers
    include ../components/services/tariffs
    include ../components/blocks/servicesList
    include ../components/blocks/examination
    include ../components/blocks/stories
    include ../components/blocks/questions
    include ../components/blocks/news
    include ../components/blocks/subscription
