.popup-kit {
  margin-left: auto;
  max-width: 616px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 77px;
  position: relative;
  padding: 75px;
  margin-right: 50px;
  margin-top: 40px;
  @media(max-width: 1819px) {
    max-width: 526px;
    padding-left: 50px;
    padding-right: 50px;
    margin-right: 25px;
    margin-top: 20px;
  }
  @media(max-width: 1279px) {
    margin-top: 24px;
    margin-right: 30px;
  }
  @media(max-width: 959px) {
    max-width: 100%;
    margin: 95px 20px 0;
    padding: 50px 40px;
  }
  @media(max-width: 719px) {
    margin-left: 0;
    margin-right: 0;
    border-radius: 44px;
    padding: 70px 14px;
  }

  &-title {
    font-weight: 400;
    font-size: 47px;
    line-height: 111.5%;
    letter-spacing: -0.02em;
    max-width: 8.7em;
    @media(max-width: 1819px) {
      font-size: 38px;
    }
    @media(max-width: 959px) {
      font-size: 32px;
    }
    @media(max-width: 719px) {
      font-size: 35px;
    }
  }

  &-inputs {
    margin-top: 50px;
    gap: 35px;

    @media(max-width: 959px) {
      margin-top: 40px;
    }
    @media(max-width: 719px) {
      gap: 25px;
    }
    > * {
      width: 100%;

      @media(max-width: 959px) and (min-width: 720px) {
        width: calc(50% - 35px / 2);
      }
    }
  }

  &-submit {
    margin-top: 25px;
    @media(max-width: 719px) {
      margin-top: 20px;
    }
    .btn {
      border-radius: 14px;
      height: 78px;
      font-size: 18px;
      @media(max-width: 1819px) {
        height: 70px;
        font-size: 16px;
      }
      @media(max-width: 719px) {
        border-radius: 19px;
        font-size: 15px;
        height: auto;
        padding: 19px 60px;
      }
    }
  }
}
