.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  display: none;
  opacity: 0;
  animation-fill-mode: both;
  animation-duration: .2s;
  animation-timing-function: linear;

  &.open {
    display: block;
    animation-name: fadeIn;
  }

  &.close {
    animation-name: fadeOut;
  }

  &-bottom {
    .popup-content {
      transform: translateY(100%);
      animation-fill-mode: both;
      animation-duration: .2s;
      animation-timing-function: linear;
    }

    &.open {
      .popup-content {
        animation-name: fadeBottomIn;
        animation-delay: .2s;
      }
    }

    &.close {
      animation-delay: .2s;

      .popup-content {
        animation-name: fadeBottomOut;
        animation-delay: 0s;
      }
    }
  }

  &-right {
    .popup-right-item {
      transform: translateX(100%);
      animation-fill-mode: both;
      animation-duration: .2s;
      animation-timing-function: linear;
    }

    &.open {
      .popup-right-item {
        animation-name: rightIn;
        animation-delay: .2s;
      }
    }

    &.close {
      animation-delay: .2s;

      .popup-right-item  {
        animation-name: rightOut;
        animation-delay: 0s;
      }
    }
  }

  &-content {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
  }

  &-backdrop {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);

    &._white {
      background-color: #fff;
      background-size: cover;
    }
  }

  &-close {
    z-index: 2;
    cursor: pointer;
    width: 28px;
    height: 28px;
    --stroke: #A5A8AF;
    position: absolute;
    top: 85px;
    right: 75px;

    svg {
      width: 100%;
      height: 100%;
      stroke: var(--stroke);
    }
  }

  &-back {
    width: var(--size, 35px);
    height: var(--size, 35px);
    border-radius: 50%;
    border: 1px solid rgba(#7A7F88, .3);
    display: flex;

    svg {
      margin: auto;
      display: block;
      width: 8px;
      height: 11px;
      stroke: var(--color, rgba(0, 0, 0, .46));
    }
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes fadeBottomIn {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes fadeBottomOut {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes rightIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes rightOut {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
