#popup-rating {
  .popup-close {
    @media(min-width: 1820px) {
      top: 0;
      right: -127px;
      width: 35px;
      height: 35px;
      --stroke: #FFFFFF;
    }
    @media(max-width: 1819px) {
      top: 35px;
      right: 50px;
    }
  }
  .popup-content {
    //overflow: hidden;
  }
}

.popup-rating {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 1567px;
  //max-height: 100%;
  background: #FFFFFF;
  border-radius: 120px;
  max-height: 820px;
  //overflow: hidden;
  @media(max-width: 1819px) {
    border-radius: 100px;
  }

  &-left {
    width: 50%;
    flex-grow: 1;
    overflow-y: auto;
    border-radius: 120px 0 0 120px;
    padding: 50px 30px 50px 60px;
    @media(max-width: 1819px) {
      border-radius: 100px 0 0 100px;
    }

    img {
      display: block;
      width: 100%;
    }
  }

  &-right {
    width: 525px;
    flex-shrink: 0;
    position: relative;
    border-left: 1px solid rgba(#7A7F88, .21);
    padding: 35px 75px 50px;
    overflow-y: auto;
    @media(max-width: 1819px) {
      padding: 35px 50px 50px;
      width: 475px;
    }
  }

  &-header {
    margin-bottom: 40px;
    .rating-item {
      width: 100%;
      align-items: flex-start;
      &-logo {
        height: auto;
        img {
          position: static;
          transform: none;
        }
      }
      &-text {
        display: block;
      }
      &-span {
        font-size: 16px;
      }
    }
  }

  &-title {
    font-size: 32px;
    line-height: 108.5%;
    letter-spacing: -0.02em;
  }

  &-text {
    margin-top: 8px;
    font-size: 15px;
    line-height: 156.5%;
    color: #424D50;
    opacity: 0.8;
  }

  &-inputs {
    margin-top: 15px;
    .input-item {
      margin-bottom: 13px;
      &:last-child {
        margin-bottom: 0;
      }
      input, textarea {
        font-size: 14px;
        height: 55px;
      }
      textarea {
        height: 94px;
      }
    }
  }

  &-submit {
    margin-top: 15px;

    .btn {
      border-radius: 14px;
      font-size: 16px;
      letter-spacing: 0.105em;
      color: #F3F3F3;
      padding: 18px;
    }
  }

  &-politic {
    margin-top: 20px;

    .input-check-text {
      font-size: 14px;
    }
  }
}
