include ../utils/mixins
//include ../components/ui/btn

block variables

doctype html
html(lang='ru')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, maximum-scale=1.0')
        title #{title}
        //link(rel="stylesheet" href="fonts.css")


    body.lock-padding.load._anim-scroll(class=pageClass)
        #app.wrapper

            include ../components/TheHeader
            main
                block content
            include ../components/TheFooter

        include ../components/popup/connection
        include ../components/popup/rating
        include ../components/popup/kit

        script(src='https://api-maps.yandex.ru/2.1/?apikey=c4780468-8f0b-4b3c-8ef7-2c0aee05edb0&lang=ru_RU')
