*, *:before, *:after {
  box-sizing: border-box;
}

img, .btn {
  user-select: none;
}

p, ul, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

[data-modal] {
  cursor: pointer;
}

a {
  text-decoration: none;
  color: unset;

  @media(hover) {
    transition: .3s color, .3s border;
    &:hover {
      color: #00C9A5;
    }
  }
}

p {
  font-weight: 300;
  letter-spacing: 0.01em;
}

body {
  font-family: 'Ubuntu', sans-serif;
  color: #1D3945;
  z-index: 1;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  @media(max-width: 719px) {
    overflow: hidden;
  }

  main {
    flex-grow: 1;
    margin-bottom: 180px;
    @media(max-width: 1819px) {
      margin-bottom: 175px;
    }
    @media(max-width: 1279px) {
      margin-bottom: 150px;
    }
    @media(max-width: 959px) {
      margin-bottom: 135px;
    }
    @media(max-width: 719px) {
      margin-bottom: 110px;
    }

  }
}

.container {
  max-width: 1300px;
  padding: 0 50px;
  margin: 0 auto;
  @media(max-width: 1819px) {
    padding: 0 55px;
  }
  @media(max-width: 1279px) {
    padding: 0 20px;
  }
  @media(max-width: 719px) {
    padding: 0 14px;
  }
}

.f {
  display: flex;

  &-ac {
    align-items: center;
  }

  &-w {
    flex-wrap: wrap;
  }

  &-js {
    justify-content: space-between;
  }

  &-jc {
    justify-content: center;
  }

  &-dc {
    flex-direction: column;
  }
}

.logo {
  gap: 13px;
  font-weight: 500;
  line-height: 1.2;
  font-size: 19px;
  color: #1D3945 !important;
  @media(hover) {
    &:hover {
      svg {
        transform: rotate(1360deg);
      }
    }
  }
  @media(max-width: 719px) {
    gap: 11px;
    font-size: 16px;
  }

  svg {
    transition: .5s transform;
    width: 53px;
    @media(max-width: 719px) {
      width: 45px;
    }
  }

  &-text {
    small {
      font-size: 0.68em;
      margin-bottom: -0.2em;
    }
  }
}

.social {
  display: flex;
  gap: 11px;

  &-link {
    cursor: pointer;
    flex-shrink: 0;
    display: block;
    --size: 33px;
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    background: #F4F4F4;
    transition: .3s background;
    --color: #8F8F8F;
    @media(hover) {
      &:hover {
        background: #29E4C3;

        svg {
          fill: #fff;
          stroke: #fff;
        }
      }
    }

    svg {
      transition: .3s fill, .3s stroke;
      display: block;
      width: 100%;
      height: 100%;
      fill: var(--color);
      stroke: var(--color);
    }
  }
}

.page-form {
  position: relative;

  &.active {
    .page-form {
      &-ok {
        opacity: 1;
        visibility: visible;
      }

      &-send {
        opacity: 0;
        visibility: hidden;
      }
    }
  }

  &-ok {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 1;
    visibility: hidden;
    width: 100%;
    height: 100%;
  }
}

.tabs-item {
  display: none;

  &.active {
    display: block;
  }
}

.index-services {
  &-bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-position: 70% 0;
    background-repeat:  no-repeat;
    @media(max-width: 1819px) {
      height: 933px;
      top: -31px;
      background-size: 3003px 100%;
      background-position: 55% 0;
    }
    @media(max-width: 1279px) {
      height: 817px;
      background-size: 2629px 100%;
      background-position: 65% 0;
      top: 0;
    }
    @media(max-width: 959px) {
      height: 709px;
      background-size: 1938px 100%;
      background-position: 60% 0;
      top: 0;
    }
    @media(max-width: 719px) {
      height: 863px;
      top: -55px;
      background-size: 1835px 100%;
    }
  }
}

.swiper-button {
  --size: 47px;
  --pos: 0;
  z-index: 2;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  display: flex;
  cursor: pointer;
  background: #F4F4F4;
  transition: .3s background-color;
  svg {
    margin: auto;
    width: 11px;
    height: 17px;
    stroke: #7A7F88;
    transition: .3s stroke;
  }
  @media(hover) {
    &:hover {
      background: #00C9A5;
      svg {
        stroke: #fff;
      }
    }
  }

  &-prev{
    left: var(--pos);
  }
  &-next {
    right: var(--pos);
  }
}
