@keyframes animLeft {
  0% {
    opacity: 0;
    transform: translateX(-33%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animRight {
  0% {
    opacity: 0;
    transform: translateX(33%);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes animTop {
  0% {
    opacity: 0;
    transform: translateY(33%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes animBottom {
  0% {
    opacity: 0;
    transform: translateY(-33%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes animBottomRight {
  0% {
    opacity: 0;
    transform: translate(-33%, -33%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}

._anim-right {
  opacity: 0;

  &._active {
    animation: animRight .5s both;
  }
}

._anim-left {
  opacity: 0;

  &._active {
    animation: animLeft .5s both;
  }
}

._anim-top {
  opacity: 0;

  &._active {
    animation: animTop .5s both;
  }
}

._anim-bottom {
  opacity: 0;

  &._active {
    animation: animBottom .5s both;
  }
}

._anim-bottom-right {
  opacity: 0;

  &._active {
    animation: animBottomRight .5s both;
  }
}
