.coverage {
  gap: 75px;
  margin-top: 65px;
  @media(max-width: 1819px) {
    margin-top: 55px;
    gap: 50px;
  }
  @media(max-width: 1279px) {
    margin-top: 40px;
    gap: 20px;
  }

  &-input {
    width: 50%;
    flex-grow: 1;
    position: relative;
    z-index: 2;

    &-wrap {
      input {
        position: relative;
        z-index: 1;
        width: 100%;
        height: 72px;
        padding-left: 30px;
        padding-right: 180px;
        border: none;
        outline: none;
        background: #FFFFFF;
        border-radius: 20px;
        font-weight: 300;
        font-size: 16px;
        line-height: 170%;
        letter-spacing: 0.01em;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #1A1B1E;
        border: 1px solid #E3E3E3;

        &::placeholder {
          opacity: .32;
        }

        @media(max-width: 1279px) {
          font-size: 14px;
          padding-right: 180px;
        }
        @media(max-width: 719px) {
          height: 54px;
          padding: 0 18px;
          border-radius: 12px;
        }
      }
    }
    &-btn {
      position: absolute;
      top: 9px;
      right: 9px;
      bottom: 9px;
      z-index: 2;
      @media(max-width: 719px) {
        position: static;
        margin-top: 15px;
        z-index: 0;
      }

      .btn {
        border-radius: 14px;
        width: auto;
        height: 100%;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.105em;
        padding: 0 40px;
        @media(max-width: 1279px) {
          padding: 0 30px;
        }
        @media(max-width: 719px) {
          height: 54px;
          width: 100%;
        }
      }
    }
  }

  &-link {
    background: #fff;
    width: 234px;
    height: 72px;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;
    color: #424D50;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;

    @media(max-width: 1819px) {
      width: 270px;
    }
    @media(max-width: 1279px) {
      width: 212px;
    }
    @media(max-width: 959px) {
      width: 100%;
    }
    @media(max-width: 719px) {
      display: none;
    }

    &-img {
      position: absolute;
      z-index: -1;

      &.one {
        width: 222px;
        right: -80px;
        top: -143px;
        @media(max-width: 1279px) {
          width: 201px;
          top: -116px;
          right: -73px;
        }
        @media(max-width: 959px) {
          width: 279px;
          right: -4px;
          top: -167px;
        }
      }

      &.two {
        width: 124px;
        left: -44px;
        bottom: -79px;
        @media(max-width: 1279px) {
          width: 110px;
          left: -41px;
          bottom: -65px;
        }
        @media(max-width: 959px) {
          width: 316px;
          left: -43px;
          bottom: -209px;
        }
      }
    }
  }

  &-modal {
    overflow: hidden;
    padding-top: 72px;
    position: absolute;
    z-index: 0;
    background: #FFFFFF;
    border-radius: 20px;
    top: 0;
    left: 0;
    width: 100%;
    opacity: 0;
    visibility: hidden;
    transition: .3s;

    &.active {
      opacity: 1;
      visibility: visible;
    }
    @media(max-width: 759px) {
      padding-top: 57px;
    }

    &-body {
      padding: 30px 25px;
      @media(max-width: 759px) {
        padding: 20px 15px;
      }
    }

    &-title {
      font-weight: 300;
      font-size: 24px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: #424D50;
      @media(max-width: 719px) {
        font-size: 16px;
      }
    }

    &-text {
      font-weight: 300;
      font-size: 16px;
      line-height: 170%;
      letter-spacing: 0.01em;
      color: #1D3945;
      @media(max-width: 959px) {
        font-size: 15px;
      }
      @media(max-width: 719px) {
        font-size: 14px;
      }
    }

    &-slider {
      margin-top: 20px;
      overflow: visible;
    }

    &-btn {
      margin-top: 25px;

      .btn {
        padding: 21px 28px;
        width: auto;
        font-size: 12px;
        letter-spacing: 0.145em;
      }
    }

    &-footer {
      background: #F3F3F3;
      padding: 30px 75px 40px;
      @media(max-width: 959px) {
        padding: 30px;
      }

      .page-form {
        gap: 15px;
        @media(max-width: 719px) {
          flex-direction: column;
        }
      }

      .input-item {
        width: 257px;
        flex-grow: 1;
        flex-shrink: 0;
        @media(max-width: 959px) {
          width: 30%;
        }
        @media(max-width: 719px) {
          width: 100%;
        }

        input {
          height: 54px;
          padding: 0 30px;
          border-radius: 13px;
        }
      }
      .btn {
        font-size: 14px;
        flex-grow: 1;
        width: auto;
        height: 54px;
        border-radius: 14px;
        @media(max-width: 959px) {
          width: 25%;
        }
        @media(max-width: 719px) {
          width: 100%;
        }
      }
    }

    .hidden {
      display: none;
    }

    .tariffs-item {
      display: flex;
      flex-direction: column;
      height: auto;
      width: 224px;
      padding: 23px;
      border-radius: 25px;
      border: 1px solid #DEDEDE;

      &-tag {
        width: 22px;
        height: 34px;
        right: 33px;
      }

      &-title {
        font-size: 18px;
      }

      &-text {
        font-size: 13px;
      }

      &-speed {
        svg {
          width: 25px;
          height: 22px;
        }

        span {
          font-size: 20px;
        }

        small {
          font-size: 14px;
        }
      }

      &-price {
        margin-top: 10px;
      }

      &-btn {
        margin-top: auto;
        padding-top: 15px;

        .btn {
          line-height: 136.5%;
          padding: 9px 0;
          height: auto;
          min-height: 45px;
          border-radius: 12px;
          font-size: 14px;
        }
      }

      &_discount {
        background: #FFF8F0;
        border-color: #FFC27A;

        .btn {
          font-size: 12px;
        }
      }
    }
  }
}
