.coverage {
  gap: 75px;
  margin-top: 65px;
  @media(max-width: 1819px) {
    margin-top: 55px;
    gap: 50px;
  }
  @media(max-width: 1279px) {
    margin-top: 40px;
    gap: 20px;
  }

  &-input {
    width: 50%;
    flex-grow: 1;
    position: relative;

    input {
      width: 100%;
      height: 72px;
      padding-left: 30px;
      padding-right: 180px;
      border: none;
      outline: none;
      background: #FFFFFF;
      border-radius: 20px;
      font-weight: 300;
      font-size: 16px;
      line-height: 170%;
      letter-spacing: 0.01em;
      overflow: hidden;
      text-overflow: ellipsis;
      color: #1A1B1E;
      &::placeholder {
        opacity: .32;
      }
      @media(max-width: 1279px) {
        font-size: 14px;
        padding-right: 180px;
      }
      @media(max-width: 719px) {
        height: 54px;
        padding: 0 18px;
        border-radius: 12px;
      }
    }

    .btn {
      border-radius: 14px;
      width: auto;
      position: absolute;
      top: 9px;
      right: 9px;
      bottom: 9px;
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 0.105em;
      padding: 0 40px;
      @media(max-width: 1279px) {
        padding: 0 30px;
      }
      @media(max-width: 719px) {
        height: 54px;
        position: static;
        margin-top: 15px;
        width: 100%;
      }
    }
  }

  &-link {
    background: #fff;
    width: 234px;
    height: 72px;
    font-weight: 300;
    font-size: 16px;
    line-height: 170%;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.01em;
    color: #424D50;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
    z-index: 1;

    @media(max-width: 1819px) {
      width: 270px;
    }
    @media(max-width: 1279px) {
      width: 212px;
    }
    @media(max-width: 959px) {
      width: 100%;
    }
    @media(max-width: 719px) {
      display: none;
    }

    &-img {
      position: absolute;
      z-index: -1;

      &.one {
        width: 222px;
        right: -80px;
        top: -143px;
        @media(max-width: 1279px) {
          width: 201px;
          top: -116px;
          right: -73px;
        }
        @media(max-width: 959px) {
          width: 279px;
          right: -4px;
          top: -167px;
        }
      }
      &.two {
        width: 124px;
        left: -44px;
        bottom: -79px;
        @media(max-width: 1279px) {
          width: 110px;
          left: -41px;
          bottom: -65px;
        }
        @media(max-width: 959px) {
          width: 316px;
          left: -43px;
          bottom: -209px;
        }
      }
    }
  }
}
