.services {
  margin-top: 50px;
  padding-top: 50px;
  overflow: hidden;
  @media(hover) {
    padding-bottom: 70px;
    margin-bottom: -70px;
  }
  @media(max-width: 1819px) {
    margin-top: 60px;
  }
  @media(max-width: 1279px) {
    margin-top: 45px;
  }
  @media(max-width: 959px) {
    margin-top: 30px;
  }
  @media(max-width: 719px) {
    margin-top: 15px;
  }

  &-slider {
    overflow: visible;
  }

  &-title {
    font-weight: 500;
    font-size: 33px;
    line-height: 140%;
    letter-spacing: -0.02em;
    color: #ADB9C5;
    margin-bottom: 35px;
    @media(max-width: 1819px) {
      margin-bottom: 30px;
    }
    @media(max-width: 1279px) {
      margin-bottom: 40px;
    }
    @media(max-width: 959px) {
      margin-bottom: 25px;
    }
    @media(max-width: 719px) {
      font-size: 27px;
      margin-bottom: 40px;
    }
  }

  &-item {
    height: auto;
    width: auto;
    margin-right: 70px;
    display: flex;
    flex-direction: column;
    @media(max-width: 1819px) {
      margin-right: 60px;
    }
    @media(max-width: 719px) {
      margin-right: 30px;
      max-width: 158px;
    }


    @media(hover) {
      &:hover {
        .services-item {
          &-img {
            background: #29E4C3;
          }

          &-text {
            p {
              opacity: 0;
            }
          }

          &-btn {
            transform: translateY(0);
            opacity: 1;
          }
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &:last-child {
      .services-item-text {
        max-width: 280px;
      }
    }

    &-img {
      transition: .3s background;
      background: #FFFFFF;
      border-radius: 35px;
      width: 233px;
      height: 104px;
      position: relative;
      @media(max-width: 719px) {
        width: 100%;
      }

      img {
        position: absolute;
        bottom: 0;
        display: block;
        left: 0;
      }
    }

    &-title {
      font-weight: 500;
      font-size: 18px;
      line-height: 131%;
      letter-spacing: 0.01em;
      margin-top: 20px;
      max-width: 220px;
      @media(max-width: 719px) {
        font-size: 17px;
        margin-top: 30px;
      }
    }

    &-text {
      flex-grow: 1;
      margin-top: 20px;
      max-width: 236px;
      position: relative;
      display: flex;
      flex-direction: column;
      @media(max-width: 719px) {
        margin-top: 25px;
        max-width: 158px;
      }

      p {
        flex-grow: 1;
        font-size: 15px;
        line-height: 155%;
        color: #424D50;
        opacity: 0.8;
        transition: .3s opacity;
        @media(max-width: 719px) {
          font-size: 14px;
        }
      }
    }

    &-btn {
      margin-top: 30px;
      @media(max-width: 719px) {
        margin-top: 20px;
      }
      @media(hover) {
        margin-top: 0;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transition: .3s opacity, .3s transform;
        transform: translateY(33%);
      }

      .btn {
        display: inline-flex;
        width: auto;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.1em;
        letter-spacing: 0.16em;
        padding: 26px 65px;
        @media(max-width: 959px) {
          padding: 21px 47px;
          font-size: 13px;
        }
        @media(max-width: 719px) {
          padding: 19px;
          font-size: 12px;
        }
      }
    }
  }
}

.service-item {
  z-index: 1;
  border-radius: 48px;
  max-width: 378px;
  height: 517px;
  padding: 40px 50px;
  color: #fff;
  background: radial-gradient(69.7% 71.51% at 20.85% 14.66%, #2F8FFF 0%, #C446FF 100%), radial-gradient(95.05% 65.96% at 105.53% 71.51%, #00C000 0%, #00C8D8 100%), #F7F7F7;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  @media(max-width: 1279px) {
    max-width: 316px;
    height: 432px;
    border-radius: 40px;
    margin-right: 25px;
    padding: 30px 40px 40px;
  }
  @media(max-width: 959px) {
    max-width: 260px;
    height: 357px;
    border-radius: 33px;
    margin-right: 20px;
    padding: 25px 35px 35px;
  }

  &:nth-child(2) {
    background: radial-gradient(95.05% 65.96% at 105.53% 71.51%, #00C000 0%, #00C8D8 100%), radial-gradient(69.7% 71.51% at 20.85% 14.66%, #2F8FFF 0%, #C446FF 100%), #F7F7F7;
  }

  &:nth-child(3) {
    background: radial-gradient(66.94% 68.68% at 70.39% 77.42%, #FFF069 1.04%, #FF8125 100%), #F7F7F7;
  }

  &:nth-child(4) {
    background: radial-gradient(95.25% 82.84% at 76.59% 79.21%, #FE4894 0%, #E50018 100%);
  }

  &:last-child {
    margin-right: 0;
  }

  &-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.2;
    letter-spacing: 0.01em;
    @media(max-width: 1279px) {
      font-size: 23px;
    }
    @media(max-width: 959px) {
      font-size: 19px;
    }
  }

  &-text {
    margin-top: 15px;
    line-height: 157%;
    letter-spacing: 0.01em;
    @media(max-width: 1279px) {
      font-size: 14px;
    }
    @media(max-width: 959px) {
      font-size: 12px;
    }
  }

  &-btn {
    margin-top: auto;

    .btn {
      border: none;
      width: auto;
      font-weight: 500;
      font-size: 13px;
      padding: 21px 33px;
      border-radius: 14px;

      @media(max-width: 1279px) {
        font-size: 12px;
        padding: 16px 20px;
        border-radius: 11px;
      }
      @media(max-width: 959px) {
        font-size: 10px;
        padding: 13px 12px;
        border-radius: 9px;
      }

      span {
        opacity: 1;
      }
    }
  }

  &-img {
    position: absolute;
    right: 0;
    bottom: 0;
    transform-origin: 100% 100%;
    display: block;
    z-index: -1;
    @media(max-width: 1279px) {
      transform: scale(0.83);
    }
    @media(max-width: 959px) {
      transform: scale(0.68);
    }
  }
}

.index-services {
  .services {
    padding: 0;
    margin-top: 120px;
    @media(max-width: 1819px) {
      margin-top: 90px;
    }
    @media(max-width: 1279px) {
      margin-top: 85px;
    }
    @media(max-width: 959px) {
      margin-top: 115px;
    }
    @media(max-width: 719px) {
      margin-top: 70px;
    }
  }
}
