.stories {
  margin-top: 145px;
  @media(max-width: 1819px) {
    margin-top: 115px;
  }
  @media(max-width: 1279px) {
    margin-top: 100px;
  }
  @media(max-width: 959px) {
    margin-top: 85px;
  }
  @media(max-width: 719px) {
    margin-top: 110px;
  }

  .container {
    overflow: hidden;
  }

  &-title {
    font-size: 32px;
    line-height: 137%;
    letter-spacing: 0.01em;
    color: #ADB9C5;
    max-width: 16em;
    @media(max-width: 719px) {
      font-size: 27px;
      line-height: 130%;
    }
  }

  &-slider {
    margin-top: 40px;
    overflow: visible;
    @media(max-width: 1279px) {
      margin-top: 35px;
    }
    @media(max-width: 959px) {
      margin-top: 30px;
    }
    @media(max-width: 719px) {
      margin-top: 35px;
    }
  }

  &-item {
    --size: 126px;
    //width: auto;
    width: var(--size);
    margin-right: 28px;
    text-align: center;
    font-weight: 300;
    line-height: 155%;
    letter-spacing: 0.01em;
    display: flex;
    flex-direction: column;
    align-items: center;

    @media(max-width: 1819px) {
      margin-right: 23px;
    }
    @media(max-width: 1279px) {
      margin-right: 15px;
      --size: 98px;
    }
    @media(max-width: 959px) {
      --size: 104px;
      margin-right: 17px;
    }
    @media(max-width: 719px) {
      --size: 82px;
      margin-right: 24px;
    }

    @media(hover) {
      &:hover {
        .stories-item-image {
          background: #00C9A5;
          &:before {
            opacity: 1;
          }
        }
      }
    }

    &:last-child {
      margin-right: 0;
    }

    &-image {
      transition: .3s background;
      width: 100%;
      height: var(--size);
      border-radius: 25px;
      background: var(--color, #F5F5F7);
      margin-bottom: 12px;
      position: relative;
      z-index: 1;
      @media(max-width: 1279px) {
        border-radius: 20px;
        margin-bottom: 10px;
      }
      @media(max-width: 719px) {
        border-radius: 16px;
        margin-bottom: 8px;
      }

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: inherit;
      }

      &:before {
        z-index: -1;
        content: '';
        position: absolute;
        top: -1px;
        right: -1px;
        bottom: -1px;
        left: -1px;
        border-radius: inherit;
        background: #00C9A5;
        opacity: 0;
        transition: .3s opacity;
      }
    }

    &-name {
      font-size: 15px;
      color: #1A1B1E;
      opacity: 0.8;
      line-height: 155%;
      white-space: nowrap;
      @media(max-width: 1279px) {
        font-size: 13px;
      }
      @media(max-width: 959px) {
        font-size: 14px;
      }
      @media(max-width: 719px) {
        font-size: 12px;
      }
    }
    &-city {
      line-height: 155%;
      color: #939393;
      opacity: 0.8;
      font-size: 13px;
      @media(max-width: 1279px) {
        font-size: 10px;
      }
      @media(max-width: 959px) {
        font-size: 11px;
      }
      @media(max-width: 719px) {
        font-size: 10px;
      }
    }
  }
}
