section.main.main-top
    .container
        nav.breadcrumb(aria-label='Breadcrumb')
            a.breadcrumb-link(href='/') Главная  /  
            .breadcrumb-link(href='#') Видеонаблюдение



        h1.main-title!= "Следите за домом, участком или стройкой  с непрерывным видеонаблюдением от Байкал Телепорт"
        .main-description
            p!= 'Поможем подобрать видеонаблюдение под ваши задачи и установим камеры так, чтобы покрыть большую часть площади'
