section.main
    .container
        nav.breadcrumb(aria-label='Breadcrumb')
            a.breadcrumb-link(href='/') Главная  /  
            .breadcrumb-link(href='#') Интернет



        h1.main-title!= "Быстрый интернет <br> в каждый дом Иркутской области!"
        .main-description
            p!= 'Стабильное подключение и отличная скорость соединения для загородного дома. <br> Интернет по оптическому кабелю <span>до 1 Гбит/с от 450 рублей в месяц*</span>'
