section.main.main-top
    .container
        nav.breadcrumb(aria-label='Breadcrumb')
            a.breadcrumb-link(href='/') Главная  /  
            .breadcrumb-link(href='#') Список услуг


        h1.main-title!= "Домашний интернет, телевидение <br> и видеонаблюдение в Хомутово"
        .main-description
            p!= 'Стабильное подключение и отличная скорость соединения для загородного дома. <br> Отправьте заявку и мы свяжемся с вами в течение 2 минут!'
